## Ответы на вопросы из технического задания

### Импорт данных и предварительная обработка

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_excel("data.xlsx")
df

,client_id,sum,status,sale,new/current,Unnamed: 5,document,receiving_date
0,NaN,NaN,Май 2021,NaN,NaN,NaN,NaN,NaN
1,6.0,11693.7,ВНУТРЕННИЙ,-,-,NaN,-,-
2,14.0,5452.7,ОПЛАЧЕНО,Петрова,новая,NaN,оригинал,2021-07-26 00:00:00
3,15.0,13991.7,ОПЛАЧЕНО,Иванов,текущая,NaN,оригинал,2021-06-08 00:00:00
4,16.0,719.7,ОПЛАЧЕНО,Иванов,текущая,NaN,оригинал,2021-06-08 00:00:00
...,...,...,...,...,...,...,...,...
725,285.0,4328.7,ОПЛАЧЕНО,Васильев,текущая,NaN,оригинал,2021-11-15 00:00:00
726,360.0,3096.2,ОПЛАЧЕНО,Васильев,новая,NaN,НЕТ,NaN
727,360.0,3096.2,ПРОСРОЧЕНО,Васильев,новая,NaN,НЕТ,NaN
728,373.0,4403.7,ОПЛАЧЕНО,Михайлов,новая,NaN,оригинал,2021-11-08 00:00:00
729,286.0,3978.7,ОПЛАЧЕНО,Филимонова,текущая,NaN,оригинал,2021-11-15 00:00:00

In [3]:
del df["Unnamed: 5"]
df

,client_id,sum,status,sale,new/current,document,receiving_date
0,NaN,NaN,Май 2021,NaN,NaN,NaN,NaN
1,6.0,11693.7,ВНУТРЕННИЙ,-,-,-,-
2,14.0,5452.7,ОПЛАЧЕНО,Петрова,новая,оригинал,2021-07-26 00:00:00
3,15.0,13991.7,ОПЛАЧЕНО,Иванов,текущая,оригинал,2021-06-08 00:00:00
4,16.0,719.7,ОПЛАЧЕНО,Иванов,текущая,оригинал,2021-06-08 00:00:00
...,...,...,...,...,...,...,...
725,285.0,4328.7,ОПЛАЧЕНО,Васильев,текущая,оригинал,2021-11-15 00:00:00
726,360.0,3096.2,ОПЛАЧЕНО,Васильев,новая,НЕТ,NaN
727,360.0,3096.2,ПРОСРОЧЕНО,Васильев,новая,НЕТ,NaN
728,373.0,4403.7,ОПЛАЧЕНО,Михайлов,новая,оригинал,2021-11-08 00:00:00
729,286.0,3978.7,ОПЛАЧЕНО,Филимонова,текущая,оригинал,2021-11-15 00:00:00

In [7]:
stats = df[df["status"].str.contains(r"(\b[А-Яа-я]+\s\d{4}\b)")]
stats

C:\Users\HomePC\AppData\Local\Temp\ipykernel_14048\4280626932.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  stats = df[df["status"].str.contains(r"(\b[А-Яа-я]+\s\d{4}\b)")]

     client_id  sum         status sale new/current document receiving_date
0          NaN  NaN       Май 2021  NaN         NaN      NaN            NaN
129        NaN  NaN      Июнь 2021  NaN         NaN      NaN            NaN
258        NaN  NaN      Июль 2021  NaN         NaN      NaN            NaN
369        NaN  NaN    Август 2021  NaN         NaN      NaN            NaN
484        NaN  NaN  Сентябрь 2021  NaN         NaN      NaN            NaN
594        NaN  NaN   Октябрь 2021  NaN         NaN      NaN            NaN

In [14]:
may_2021 = df.iloc[1:129]
june_2021 = df.iloc[130:258]
july_2021 = df.iloc[259:369]
august_2021 = df.iloc[370:484]
september_2021 = df.iloc[485:594]
october_2021 = df.iloc[595:731]